
a{
  color: black;

}
a:hover{
  color: #c2d3f2;
}

#nav_lat{
animation: fadein 2s;
-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
-moz-animation: fadein 2s; /* Firefox < 16 */
-ms-animation: fadein 2s; /* Internet Explorer */
-o-animation: fadein 2s; /* Opera < 12.1 */
 animation: fadein 2s;
margin-left: -40px;
border-left: 1px solid;
border-color: #c2d3f2;
}
@@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  @media screen and (max-width: 800px) {
  #nav_lat{
  display:none;
  }}
.nav flex-column{
  margin-top: 50%;
}
body  {
background-color: #DAE7FE;
}
#nav-home-tab, #nav-filosofia-tab, #nav-contact-tab {
  background-color: #c2d3f2;
  border: none;
  border-radius: 0px;

}
#nav-tab{
  margin-top: -40px;
  border: none;
}
#nav-home-tab:focus{
border: none;
  background-color: #DAE7FE;
}
#nav-home-tab:hover{
  border: none;
    background-color: #DAE7FE;
  }
#nav-filosofia-tab:focus{
  border: none;
    background-color: #DAE7FE;
  }
  #nav-profile-tab:hover{
    border: none;
      background-color: #DAE7FE;
    }
  #nav-contact-tab:focus{
    border: none;
      background-color: #DAE7FE;
    }
    #nav-contact-tab:hover{
      border: none;
        background-color: #DAE7FE;
      }

nav {
  margin-left: 20px;
  border-color: lightblue;
  margin-top: 20px;
  width: 60%;
}

.tab-pane h5 {
  margin-bottom: -10px;
}
.tab-pane p, .tab-pane h5 {
  width: 60%;
  font-family:Helvetica, sans-serif;
  margin-left:20px;
  text-align: left;
  padding: 10px;
}

@media screen and (max-width: 800px) {
.header-title{
display:none;
}}
