

.carousel-item {
transition-duration: 0.1s;
}





#form_button{
  display: block;
  margin-left: 230px;
  margin-top: 20px;

}


body  {
background-color: #DAE7FE;
}
  .img-banner {
    height: 400px;
    width: 100%;
    margin: 0px;

  }
  .img-banner {
    opacity: 0.7;
    border-radius: 10px;
  }
    .img-banner:hover {
      opacity: 0.4;
      border-radius: 20px;
    }
  carousel-inner {
    margin: 0px;
  }
  #carouselExampleInterval{
    margin:0px;
    padding: 30px;
  }
  p.parag-slider {

    font-family: "Copperplate", Papyrus, fantasy;
    text-align: center;
  }
  .carousel-caption p {
     text-align:bottom;
     margin-bottom: -40px;
  }
  a {
    text-align: center;
        color: 	#000000;
    text-decoration: none;
    font-family: "Copperplate", Papyrus, fantasy;
  }
  a:link {
    {
      text-align: center;
          color: 	#000000;
      text-decoration: none;
      font-family: "Copperplate", Papyrus, fantasy;
    }
    a:hover
      {
        text-align: center;
        color: 	#000000;

        text-decoration: none;
        font-family: "Copperplate", Papyrus, fantasy;
      }
      a:active
        {
          text-align: center;
          color: 	#000000;
          text-decoration: none;
          font-family: "Copperplate", Papyrus, fantasy;
        }



  #h3link {
    text-align: center;
    color: 	#000000;
    font-family: "Copperplate", Papyrus, fantasy;
  }
  @media screen and (max-width: 400px) {
    #mobilecar {
      width: 100%;
      height: 100%;
    }
