
.card-img-top{
  opacity: 0.7;

}
.card-img-top:hover{
  opacity: 0.4;

}
h5.card-title {
  text-align: center;
}
.card-text {
  text-align: justify;
}
body {
  background-color: #DAE7FE;
}
.card {
  float: none;

  background-color: #c2d3f2;
  margin-top: 50px;

}



.fadeIn {



text-align: bottom;
animation: fadein 2s;
-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
     -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s;
}

#lato{
  margin-top: 80px;
  margin-left: 100px;
}
#immaginefreccia{
margin-left:-50px;
margin-top: 30px;
}
#testofreccia{
width: 90%;
font-family: "Copperplate", Papyrus, fantasy;
text-align: left;
}

#latodx{

  margin-top: 80px;
  margin-right: 200px;
}
#immaginefrecciadx{
margin-right:-50px;
margin-top: 30px;
}
#testofrecciadx{
width: 90%;
font-family: "Copperplate", Papyrus, fantasy;
text-align: left;
}

@@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

@media screen and (max-width: 800px) {
.fadeIn, .header-title{
display:none;
}}

@media screen and (max-width: 500px) {
.col-4{


  width: 100%
}
.card{
  width: 100%;
}

}
